.bg-green {
    background-color: #5ebe7f;
}

.text-green {
    color: #5ebe7f;
}

.icon {
    background: #f7d060;
}

.notes-back {
    left: 30px;
    color: #f7d060;
}

.note-date {
    color: #f7d060;
}
